.hero-sec {
   background-image: linear-gradient(
      #365ae1 0%,
      #244ae2 4.66%,
      #1029a6 76.69%,
      #1029a6 100%
   );
   padding-top: 100px;
   padding-bottom: 40px;
   position: relative;
   z-index: 1;
}

.theme-btn-lg {
   display: inline-block;
   font-weight: 500;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   user-select: none;
   padding: 18px 36px;
   font-size: 25px;
   border-radius: 10px;
   color: #fff;
   width: 100%;
   cursor: pointer;
   z-index: 5;
   transition: all 0.4s ease-in-out;
   border: none;
   background: linear-gradient(to right, #34b15e 0%, #73e09a 50%, #34b15e 100%);
   background-size: 200% auto;
   overflow: hidden;
}

tr:nth-child(even) {
   background-image: linear-gradient(
      to right,
      #365ae1 0%,
      #6286eb 50%,
      #365ae1 100%
   );
   color: #f2f2f2;
   font-size: 1.4rem;
}

tr:nth-child(odd) {
   background-color: #f2f2f2;
   color: #365ae1;
   font-size: 1.4rem;
}

.form-style {
   width: 100%;
   border: 1px solid transparent;
   background-image: linear-gradient(
      to right,
      #365ae1 0%,
      #6286eb 50%,
      #365ae1 100%
   );
   box-shadow: 0 0 23px rgba(171, 177, 232, 0.13);
   transition: all 0.3s ease-out 0s;
}

.over-next {
   overflow: auto;
}

.pop-up {
   width: 95%;
   opacity: 0.8;
   background: #36b9e1;
   font-size: 20px;
   color: #fff;
   border-radius: 10px;
   position: fixed;
   bottom: 10px;
   z-index: 9;
   cursor: pointer;
   transition: all 0.3s ease-out 0s;
   word-wrap: break-word;
}

.pop-up:hover {
   opacity: 1;
   color: #fff;
}

.logo {
   height: 5.3rem;
   width: auto;
}

.logo-text {
   color: white;
   font-weight: bold;
   font-size: 1.5rem;
}
